.main4-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: auto;
    padding-top: 10vh;
    padding-bottom: 15vh;
  }
  
  .main4-background img{
    max-width: 90%;
    height: auto;
  }

  
  .main4-img1{
    margin-bottom: 8vh;
  }

  .main4-img2{
    margin-bottom: 8vh;
  }
  
  